<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            display: flex;
            justify-content: center;   /* horizontal center */
            align-items: center;       /* vertical center */
            height: 100vh;             /* full screen height */
            margin: 0;
        }
    </style>
</head>
<body>
    <div>
        <h1>Hello DevOps Learner 🚀</h1>

        <p>
        If you are seeing this, it means you are viewing <b>Md. Rizuan’s DevOps journey</b>.
        </p>
        
        <p>
        This project is deployed using modern DevOps practices including:
        </p>
        
        <ul>
          <li>🐳 Docker for containerization</li>
          <li>🌐 Nginx as reverse proxy</li>
          <li>⚙️ Gunicorn as WSGI server</li>
          <li>☁️ AWS EC2 (ARM-based architecture) for hosting</li>
          <li>🔁 GitLab CI/CD for automated deployment</li>
        </ul>
        
        <p>
        This is a real-world deployment setup where every code push automatically updates the live server.
        </p>
        
        <p>
        Thank you for visiting this project and being part of my DevOps learning journey 🙌
        </p>
    </div>
</body>
</html>